@import "fonts";

//Wrapper sizes
$minWidth: 297;
$maxWidth: 1152;
$padding: 20;
$paddingMin: 5;

html,
body{
  height: 100%;
  min-width: #{$minWidth}px;
}

#__nuxt {
  height: 100%;
}

.site {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.wrapper {
  width: 100%;
  max-width: #{$maxWidth}px;
  margin: 0 auto;

  @media (max-width: #{$maxWidth + $padding * 2}px) {
    max-width: 100%;
    padding: 0 #{$padding}px;
  }
  @media (max-width: 576px) {
    padding: 0 #{$paddingMin}px; // Новое значение паддинга для брейкпоинта ниже 576px
  }
}
.no-scroll{
  overflow: hidden;
}
.page {
  flex: 1 1 auto;
}
.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  text-align: center;
}
.btn{
  width: 223px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  background: #245462;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover{
  background: #366a7a;
}
.heading {
  font-weight: $fw--Bold;
  letter-spacing: normal;

  &_1 {
    font-size: 52px;
    line-height: 72px;

    @include maxWidth992 {
      font-size: 23px;
      line-height: 36px;
    }
  }

  &_2 {
    font-size: 32px;
    line-height: 48px;

    @include maxWidth992 {
      font-size: 23px;
      line-height: 36px;
    }
  }

  &_3 {
    font-size: 32px;
    line-height: 1.38;

    @include maxWidth992 {
      font-size: 24px;
      line-height: 1.21;
    }
  }

  &_4 {
    font-size: 28px;
    line-height: 44px;

    @include maxWidth992 {
      font-size: 22px;
      line-height: 1.55;
    }
  }

  &_5 {
    font-size: 24px;
    line-height: 1.58;
  }

  &_6 {
    font-size: 20px;
    line-height: 1.7;
  }
}

.paragraph {
  font-size: 18px;
  line-height: 1.78;
  color: darken($c--primary, 32);
}

.link {
  position: relative;
  color: $c--primary;
  transition: color 0.2s;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: rgba($c--primary, 0.2);
  }

  &:hover {
    color: lighten($c--primary, 16%);
  }
}

.breadcrumbs {
  margin: 5px 0 48px;
}

.side-paddings-mob {
  @include maxWidth768 {
    padding: 0 16px;
  }
}

img {
  max-width: 100%;
}

// animation on scroll
.animation {
  &_1 {
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0.8s;
    transform: translateY(30px);
  }

  &_2 {
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 1s;
    transform: translateY(30px);
  }

  &_3 {
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 1.2s;
    transform: translateY(30px);
  }

  &_delay-off {
    .animation_1 {
      transition-delay: 0s;
    }

    .animation_2 {
      transition-delay: 0.2s;
    }

    .animation_3 {
      transition-delay: 0.4s;
    }
  }

  &-wrapper {
    &.view-in {
      .animation_1,
      .animation_2,
      .animation_3 {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.lazy-section-wrapper {
  min-height: 400px;
}

.no-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
